<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atechor</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 30px; padding: 0;">

  <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="600"
    style="margin: auto;">
    <tr>
      <td bgcolor="#ffffff" style="padding: 20px 30px 40px 30px; text-align: center;">
        <img src="https://i.ibb.co/TwtY8Fs/atechor-logo-png.png" alt="Logo de l'entreprise" width="150"
          style="display: block; margin: auto;" />
        <h1 style="font-size: 24px; margin: 20px 0;">Votre resultat de
          recherche</h1>
        <p style="font-size: 16px; margin: 20px 0;">Bonjour {{name}},</p>
        <p style="font-size: 16px;">L&rsquo;&eacute;quipe Atechor est ravie de
          vous aider pour votre projet d&rsquo;impl&eacute;mentation
          d&rsquo;ERP.&nbsp;</p>
        <p style="font-size: 16px;">
          Cliquez sur le lien suivant pour acc&eacute;der au r&eacute;sultat
          de votre recherche&nbsp;:&nbsp; .</p>
        <a href="{{link}}" style=" background-color: #0033FF;
        color: #fff;
        font-size: 1.313rem;
        width: 214px;
        height: 69px;
        border-radius: 17px;
        margin-bottom: 20px;
        border: none;
        text-decoration: none;
		    display: inline-block;    
        text-align: center;
        line-height: 70px;">Voir le résultat</a>
        <br />
        <a href="https://votre-site.com/contact" style="    color: #000;
        font-size: 1.313rem;
        width: 214px;
        height: 69px;
        border-radius: 17px;
        border: 2px #4a505b solid !important;
        border: none;
        text-decoration: none; 
        display: inline-block;    
        text-align: center;
        line-height: 70px;">Nouvelle recherche</a>
        <p>&nbsp;</p>
        <p>
          Toute notre &eacute;quipe vous souhaite une excellente
          journ&eacute;e, et reste &agrave; votre disposition&nbsp;!
        </p>
        <p>Atechor</p>
      </td>
    </tr>
    <tr>
      <td bgcolor="#fff" style="padding: 20px 30px; text-align: center;">
        Si vous souhaitez en savoir plus sur notre politique de
        confidentialit&eacute;, consultez&nbsp;<a href="https://atechor.com/mentions-legales">nos mentions
          l&eacute;gales</a>.
        </p>
      </td>
    </tr>
  </table>

</body>

</html>